# Go
/bin/*
/pkg/
/src/
*.exe
*.test
*.prof

# Flutter / Dart
.dart_tool/
.flutter-plugins/
.flutter-plugins-dependencies/
.packages
.vs/
.idea/
build/
*.iml
*.lock
*.jar
*.class
*.dex
*.ap_
*.apk
*.aab
*.snap
ios/Flutter/.last_build_id
/android/.gradle
/android/local.properties
/android/**/*.iml
/android/.idea
/android/build
/android/app/build
/android/app/*.iml
/ios/.symlinks
/ios/Flutter/Generated.xcconfig
/ios/Runner/*.xcodeproj/project.pbxproj
/ios/Runner/*.xcworkspace
/ios/Runner/*.xcodeproj/xcuserdata/
/ios/Runner/.generated
/ios/Runner/.xcassets/
/ios/Runner/.idea/
/ios/Runner/build/
/ios/Runner/.flutter-plugin-registrant/
/web/

# General
.DS_Store
.env
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log
*.log
*.sqlite
*.sqlite3
*.db
*.csv
*.tmp
*.temp
*.swp
*.swo
*~
.#*
/out/
/dist/
/target/
/node_modules/

# VS Code
.vscode/